
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="dark">
    <meta name="format-detection" content="telephone=no" />

    <link rel="manifest" href="/site.webmanifest">
    {{ partial "seo.html" . }}
    <link rel="icon" type="image/png" href="{{ "favicon.ico" | relURL }}" />
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <script src="https://cdn.talksoon.com/scripts/tsw_loader.min.js" defer></script>
    <!-- Wasm -->
    {{ partial "wasm.html" . }}
    <!-- End Wasm -->
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f338afc4230048199c4126ed4ba9213a"}'></script>
    <!-- End Cloudflare Web Analytics -->
</head>