{{ define "main" }}

<div class="container">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </header>
    </article>
        <form id="formcontact" class="form-contact">
        <div>
            <label for="Email">Name</label>
            <input type="text" class="form-control" id="name" placeholder="How can i call you?">
        </div>
        <div>
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Please, add your email">
        </div>
        <div class="form-group">
            <label for="CompanyName">Company Name</label>
            <input type="text" class="form-control" id="company" placeholder="Company Name">
        </div>
        <div class="form-group">
            <label for="CompanyNiche">Company Niche</label>
            <input type="text" class="form-control" id="companyniche" placeholder="Company Niche">
        </div>
        <div class="form-group">
            <label for="Position">Position</label></br>
            <select id="position" class="form-control">
                <option>SRE/DevOps</option>
                <option>SWE</option>
                <option>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Location">Location</label></br>
            <select id="location" class="form-control">
                <option>Remote</option>
                <option>Montreal - Hybrid</option>
                <option>Montreal - In Office</option>
            </select>
        </div>
        <div class="form-group">
            <label for="SalaryRange">Salary Range</label><br>
            <select id="salary" class="form-control">
                <option>0 - 100</option>
                <option>101 - 130</option>
                <option>131 - 160</option>
                <option>161 - 190</option>
                <option>190 + </option>
            </select>
        </div>
        <div class="form-group">
            <label for="Why">Why?</label>
            <textarea class="form-control" id="message" placeholder="Why do you need me?" rows="3"></textarea>

        </div>
        <div class="checkbox">
            <label>
                <input id="cv-checkbox" type="checkbox"> Yes, i saw your <a href="/resume/">resume</a>
            </label>
        </div>
        <a class="form-submit" onclick="SubmitForm()"> Submit</a>
    </form>

</div>

</main>

{{ end }}