{{ define "main" }}
<div class="container">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </header>
    </article>
    <div class="article-post">
        {{ .Content }}
    </div>

    <div>
        <br><a class="font-13 color-theme" onclick="window.open('tel:+5145759454');">Call</a>
        <br><a class="font-13 color-theme" onclick="window.open('sms:+5145759454;?&body=hello.');">text</a>

    </div>
    <div>
        <input type="submit" value="Send" onclick="return callmynow()">
    </div>
    <div>
        <p>What is the name(s) of your browser?</p>
        <button onclick="myFunction()">Try it</button>
        <p id="demo"></p>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var callButton = document.getElementById('callButton');

        callButton.addEventListener('click', function(event) {
            event.preventDefault();
            var phoneNumber = this.getAttribute('data-phone-number');
            // Logic to initiate the call using the tel protocol
            // window.document = 'tel:' + phoneNumber;
            window.document.location = 'tel:+232323';
        });
    });
    function callmynow() {
        window.open( 'tel:800-888-1234', '_top' );
    }

    function replacePhone() {
        location.replace("tel:+15145759454")
    }

    function myFunction() {

            alert(navigator.userAgent);

    }
</script>

</main>

{{ end }}