{{ define "main" }}
<div class="container">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </header>
    </article>
    <div class="article-post">
        {{ .Content }}
    </div>
    <div>
        <a href="callto:1234567">callto:1234567</a>
        <a href="callto://1234567">callto://1234567</a>
        <a href="tel:+15555551212">tel:+15555551212</a>
        <a href="tel://15555551212">tel://15555551212</a>

        <a href="tel:15145759454">+1 514-575-9454</a>
        <span id="callButton" data-phone-number="+15145759454">+15145759454</span>

        <a href="tel:1-555-123-4567" class="call">
            ----- OR -----
            <a href="tel:15551234567" class="call">
    </div>
    <div>
        <input type="submit" value="Send" onclick="return callmynow()">
    </div>
    <div>
        <p>What is the name(s) of your browser?</p>
        <button onclick="myFunction()">Try it</button>
        <p id="demo"></p>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var callButton = document.getElementById('callButton');

        callButton.addEventListener('click', function(event) {
            event.preventDefault();
            var phoneNumber = this.getAttribute('data-phone-number');
            // Logic to initiate the call using the tel protocol
            // window.document = 'tel:' + phoneNumber;
            window.document.location = 'tel:+232323';
        });
    });
    function callmynow() {
        window.open( 'tel:800-888-1234', '_top' );
    }

    function replacePhone() {
        location.replace("tel:+15145759454")
    }

    function myFunction() {

            alert(navigator.userAgent);

    }
</script>

</main>

{{ end }}