{{ define "main" }}
<div class="container">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
        </header>
    </article>
    <div class="article-post">
        {{ .Content }}
    </div>

    <div>
        <br><a class="font-13 color-theme" onclick=callme()>Call</a>
        <br><a class="font-13 color-theme" onclick="window.open('sms:+15145759454;?&body=hello.');">text</a>

    </div>
    <div>
        <input type="submit" value="Send" onclick="return callmynow()">
    </div>
    <div>
        <p>What is the name(s) of your browser?</p>
        <button onclick="myFunction()">Try it</button>
        <p id="demo"></p>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var callButton = document.getElementById('callButton');

        callButton.addEventListener('click', function(event) {
            event.preventDefault();
            var phoneNumber = this.getAttribute('data-phone-number');
            // Logic to initiate the call using the tel protocol
            // window.document = 'tel:' + phoneNumber;
            window.document.location = 'tel:+232323';
        });
    });
    function callmynow() {
        window.open( 'tel:800-888-1234', '_top' );
    }

    function replacePhone() {
        location.replace("tel:+15145759454")
    }

function callme() {
        if (isGSA()) {
            window.open("tel:+15145759454");
        } else {
            window.location.href = "tel:+15145759454";
        }

}

    function isGSA() {
        if (navigator.userAgent.indexOf("GSA") != -1) {
            return true;
        } else {
            return false;
        }
    }
        function myFunction() {
            if ((navigator.userAgent.indexOf("GSA") || navigator.userAgent.indexOf('OPR')) != -1) {
                alert('Opera');
            } else if (navigator.userAgent.indexOf("GSA") != -1) {
                alert('Edge');
            } else if (navigator.userAgent.indexOf("Chrome") != -1) {
                alert('Chrome');
            } else if (navigator.userAgent.indexOf("Safari") != -1) {
                alert('Safari');
            } else if (navigator.userAgent.indexOf("Firefox") != -1) {
                alert('Firefox');
            } else if ((navigator.userAgent.indexOf("MSIE") != -1) || (!!document.documentMode == true)) //IF IE > 10
            {
                alert('IE');
            } else {
                alert('unknown');
            }


    }
</script>

</main>

{{ end }}